* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  :root {
      --primaria: #0066FF;
      --secundaria: #EB914B;
      --background: #131313;
      --letra: #d9d9d9
  }
  
  body {
      background-color: var(--background);
      color: var(--letra);
  }
  
  .navegacao {
      position: fixed;
      top: 0;
      background: var(--primaria);
      width: 100%;
      z-index: 100;
      padding: 1.5rem;
  }

  .menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--letra);
    font-weight: 750;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--secundaria);
}

.menu-link:hover::after{
    width: 100%;
    transition: 0.5s ease;
}

header{
    margin-top: 130px;
    text-align: center;
    font-size: xx-large;
}

.livro {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    text-align: center
}